{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block css %}
    <link href="{% static 'css/create.css' %}" rel="stylesheet">
    <link href="{% static 'css/view.css' %}?v=20210327.1" rel="stylesheet">
{% endblock %}

{% block content %}
    <h3 style="margin-top:0%;">{% trans "Box #" %}{{ box_id }} - Issues</h3>

    <div style="text-align: right; margin-bottom: 20px;">
        <a href="{% url 'report-issue' box_id=box_id %}" class="btn btn-warning">
            {% trans "Report issue" %}
        </a>
        <a href="/watering" id="back-box" class="btn btn-secondary" style="margin-right: 12px;">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
    </div>

     <div class="row">
        <div class="col-xs-12">
            <div id="container">

                <div id="StatusTable" style="width: 100%!important;">
                    {% for issue in issues %}
                        <div class="entry">
                            <div class="title">
                                 {{ issue.issue_type }}
                            </div>
                            <div>
                                {{ issue.description|linebreaksbr }}
                            </div>
                            <div>
                                {% trans "Posted by" %}: {{ issue.submitted_by.username }} {% trans "at" %}  {{ issue.created|timesince }} {% trans "ago" %}
                            </div>
                            <div>
                                {% trans "Status" %}: {% if issue.resolved %}
                                                {% trans "Resolved" %}
                                            {% else %}
                                                {% trans "Open" %}
                                            {% endif %}
                            </div>
                            <div class="actions"></div>
                        </div>
                         {% empty %}
                                <div class="entry">
                                    <p colspan="5" style="padding: 20px; text-align: center; color: #777;">
                                        {% trans "No issues reported for Box" %} #{{ box_id }}

                                    </p>
                                </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}