{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block css %}
    <link href="{% static 'css/create.css' %}" rel="stylesheet">
    <style>
        .btn-squared-default
        {
            font-size: 10px;
            font-weight: 700;
        }

        .btn-squared-default-plain
        {
            font-size: 10px;
        }

        #issue-type-selector .glyphicon {
            font-size: 14px;
        }

        #issue-type-selector .btn {
            margin-right: 5px;
        }

        #issue-type-selector .btn span {
            vertical-align: top;
            margin-left: 10px;
            display: inline-block;
        }

        #issue-type-selector .btn {
            background: white;
        }

        #issue-type-selector .btn-warning {
            color: #f6bb42;
            background: white;
        }

        #issue-type-selector .btn-warning.selected {
            background-color: #f6bb42;
            color: white;
        }

        #issue-type-selector .btn-danger {
            color: #d43f3a;
            background: white;
        }

        #issue-type-selector .btn-danger.selected {
            background-color: #d43f3a;
            color: white;
        }

        #issue-type-selector .btn-success {
            color: #8cc152;
            background: white;
        }

        #issue-type-selector .btn-success.selected {
            background-color: #8cc152;
            color: white;
        }

        #issue-type-selector .btn-primary {
            color: #3bafda;
            background: white;
        }

        #issue-type-selector .btn-primary.selected {
            background-color: #3bafda;
            color: white;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-9">
            <h3 style="margin-top:0px;margin-bottom: 20px;">{% trans "Report a problem" %}</h3>
        </div>
        <div class="col-xs-3" style="text-align: right">
            <a href="{% url 'list-issues' box_id=box_id %}" class="btn btn-sm btn-default">
                ‹ {% trans "Back to Cluster" %} #{{ box_id }} {% trans "issues" %}
            </a>
            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-sm btn-secondary">
                <i class="glyphicon glyphicon-chevron-left"></i> {% trans "Back" %}
            </a>
        </div>
    </div>

    <div class="panel">
        <div class="panel-body">
            <form class="row" style="padding: 40px; margin: 20px 0;" action="." method="POST">
                {% csrf_token %}

                <div class="row" id="issue-type-selector">
                    <div class="col-lg-12">
                        <div>
                            <label>{% trans "Issue Type:" %}</label>
                        </div>
                        <input type="hidden" name="issue_type" />
                        <button type="button" data-value="Broken sensor" class="btn btn-squared-default btn-warning">
                            <i class="glyphicon glyphicon-dashboard"></i>
                            <span>{% trans "Broken sensor" %}</span>
                        </button>
                        <button type="button" data-value="Dry plants" class="btn btn-squared-default btn-danger">
                            <i class="glyphicon glyphicon-tint"></i>
                            <span>{% trans "Dry plants" %}</span>
                        </button>
                        <button type="button" data-value="No watering required" class="btn btn-squared-default btn-success">
                            <i class="glyphicon glyphicon-ok"></i>
                            <span>{% trans "No watering required" %}</span>
                        </button>
                        <button type="button" data-value="Wrong data" class="btn btn-squared-default-plain btn-primary">
                            <i class="glyphicon glyphicon-remove"></i>
                            <span>{% trans "Wrong data" %}</span>
                        </button>
                        <button type="button" data-value="Problem with the box" class="btn btn-squared-default-plain btn-warning">
                            <i class="glyphicon glyphicon-inbox"></i>
                            <span>{% trans "Problem with the cluster" %}</span>
                        </button>
                        <button type="button" data-value="Flowers destroyed" class="btn btn-squared-default-plain btn-danger">
                            <i class="glyphicon glyphicon-leaf"></i>
                            <span>{% trans "Flowers destroyed" %}</span>
                        </button>
                        <button type="button" data-value="Other" class="btn btn-squared-default-plain btn-primary">
                            <i class="glyphicon glyphicon-comment"></i>
                            <span>{% trans "Other" %}</span>
                        </button>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                  <div class="col-md-12">
                      <label for="report">{% trans "Description" %}:</label>
                  </div>
                   <div class="col-md-12">
                      <textarea class="form-control" rows="5" name="description" required></textarea>
                  </div>

                </div>
                <div class="row" style="margin-top: 10px;">
                  <div class="col-md-12" style="text-align: right">
                    <button class="btn btn-warning" type="submit" style="min-width: 200px;">
                        {% trans "Report" %}
                    </button>
                  </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(function() {
            $("#issue-type-selector .btn").on("click", function() {
                const $this = $(this);

                // ignore if already selected
                if ($this.hasClass("selected")) {
                    return
                }

                // remove from others
                $this
                    .closest("#issue-type-selector")
                    .find(".btn")
                    .removeClass("selected");

                // add class to the clicked button
                $this
                    .addClass("selected");

                // change hidden input's value
                $('input[name="issue_type"]')
                    .val($this.data("value"));
            });
        })
    </script>
{% endblock %}
