{% extends 'base.html' %}

{% block css %}
    <style>
        .login-panel {
            border-color: #555;
        }

        .login-panel .panel-heading {
            text-align: center;
            background: #333;
            border-color: #555;
            color: white;
        }

        .login-panel .panel-body {
            background: #555;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="col-md-6 col-md-offset-3">
        <div class="login-panel panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Please login to continue</h3>
            </div>
            <div class="panel-body">

                <p style="text-align: center">
                    Use your credentials to access Naiades Watering.
                </p>

                <form method="post">
                    {% csrf_token %}

                    {% with centered=True %}
                        {% include 'util/form-fields.html' %}
                    {% endwith %}

                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}