{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block css %}
    <link href="{% static 'css/create.css' %}" rel="stylesheet">
    <style>
        #start-watering-info {
            margin: 10px 0;
        }

        #start-watering-info i {
            margin-left: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-xs-12 col-sm-9">
            <h3 style="margin-top:0%; margin-left: 14px;">{% trans "Cluster #" %}{{ box.id }} </h3>
        </div>
        <div class="col-xs-12 col-sm-3" style="text-align: right">
            <a href="/watering" id="back-box"
                    class="btn btn-primary" style="margin-right: 12px;">
                Next Cluster: 1
            </a>
        </div>
    </div>
    <div class="row" style="margin: 10px 0;">
       <div class="col-md-12" id="cluster-details-container">

       </div>
    </div>
{#    <div class="row" style="margin: 10px 0;">#}
{#       <div class="col-md-12">#}
{#           <h5>Predicted Required  Water Amount (Avg. per Box) :</h5>#}
{#           <div class="progress progress-striped active">#}
{#                <div class="progress">#}
{#                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">3lt / 20 lt</div>#}
{#                </div>#}
{#           </div>#}
{#       </div>#}
{#    </div>#}

{% endblock %}

{% block js %}
    <script>
        window.RECOMMENDED_CONSUMPTION = {{ recommended_consumption }};
        window.NUMBER_OF_BOXES = {{ number_of_boxes }};
    </script>
    <script src="{% static 'js/cluster-details.js' %}"></script>
{% endblock %}