{% extends "watering/location-base.html" %}

{% load i18n %}
{% load static %}

{% block css %}
    <link href="{% static 'css/create.css' %}" rel="stylesheet">
    <link href="{% static 'css/cluster-details.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-xs-12 col-sm-9">
            <h3 style="margin-top:0%; margin-left: 14px;">{% trans "Cluster " %}{{ box.data.name}} </h3>
        </div>
        <div class="col-xs-12 col-sm-3" style="text-align: right">
{#            <a href="/watering" id="back-box"#}
{#                    class="btn btn-primary" style="margin-right: 12px;">#}
{#                {% trans "Next Cluster" %}: 1#}
{#            </a>#}
        </div>
    </div>

    <div class="row" style="margin: 10px 0;">
        <div class="col-xs-12 col-md-6">
             <!-- <div class="btn-group">
                <a href="#" class="btn btn-sm btn-danger" title="Dry plants"><i class="glyphicon glyphicon-warning-sign"></i>
                    <span style="margin-left: 5px;">{% trans "Dry plants" %}</span></a>
                <a href="#" class="btn btn-sm btn-success" title="No watering required"><i class="glyphicon glyphicon-ok"></i>
                    <span style="margin-left: 5px;">{% trans "No watering required" %}</span></a>
            </div> -->
        </div>
        <div class="col-xs-12 col-md-6" style="text-align: right; padding: 0">

           <div class="btn-group">
                <a href="/watering/box/{{ box.id }}/issues/" class="btn btn-sm btn-default" title="List problems"><i class="glyphicon glyphicon-list"></i>
                    <span style="margin-left: 5px;">{% trans "Issues" %}</span></a>
                <a href="/watering/box/{{ box.id }}/issues/report/" class="btn btn-sm btn-default" title="Report new problem"><i class="glyphicon glyphicon-plus"></i>
                    <span style="margin-left: 5px;">{% trans "Report new issue" %}</span></a>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Feedback" %}</div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <button id="dry-plants" type="button" class="btn btn-danger btn-block"><i class="glyphicon glyphicon-warning-sign"></i>
                    <span style="margin-left: 5px;">{% trans "Dry plants" %}</span></button>
                    </div>
                    <div class="col-md-6">
                        <button id="no-watering-required" type="button" class="btn btn-success btn-block"><i class="glyphicon glyphicon-ok"></i>
                    <span style="margin-left: 5px;">{% trans "No watering required" %}</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Predicted Required  Water Amount (Avg. per Box)" %}</div>
                <div class="panel-body">
                    <div class="recommended-value">
                        {{ recommended_consumption|floatformat:1 }} lt
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Predicted Required  Water Amount (Cluster)" %}</div>
                <div class="panel-body">
                    <div class="recommended-value">
                        {{ recommended_consumption_per_cluster|floatformat:1 }} lt
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Water used (cluster)" %}</div>
                <div class="panel-body">
                    <div id="cluster-details-gauge-container"></div>
                    <div id="cluster-details-gauge-annex">
                        <ul>
                            <li><span class="name danger">{% trans "Dry" %}: </span>{% trans "It seems that the box is dry." %}</li>
                            <li><span class="name warning">{% trans "Reduced" %}: </span>{% trans "It seems that the box needs more watering." %}</li>
                            <li><span class="name success">{% trans "Recommended" %}: </span>{% trans "It seems that the box humidity is within the recommended levels, no more watering required." %}</li>
                            <li><span class="name warning">{% trans "Excessive" %}: </span>{% trans "It seems that the box watered more than necessary." %}</li>
                            <li><span class="name danger">{% trans "Overwhelming" %}: </span>{% trans "It seems that you watered too much." %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        window.BOX_ID = {{ box.data.boxId }};
        window.RECOMMENDED_CONSUMPTION = {{ recommended_consumption }};
        window.NUMBER_OF_BOXES = {{ number_of_boxes }};
    </script>
    <script>
        $(function() {
            /* Dry Plants */
            $('#dry-plants').on("click", function () {
                const $btn = $(this);

                // remove previous message
                $('#dry-plants-info').remove();

                // set loading
                $btn
                    .attr("disabled", "disabled")
                    .append($('<i />').addClass("fa fa-spinner fa-spin"));

                // create info message
                const $info = $('<div />')
                    .attr('id', 'dry-plants-info');

                $.ajax({
                    url: "/watering/api/boxes/{{ box.data.boxId }}/dry-plants-feedback/",
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function () {
                        // show success message
                        $info
                            .addClass("text-color--green")
                            .append($('<span />').text("Dry plants feedback sent"))
                            .append($('<i />').addClass("glyphicon glyphicon-check"));
                    },
                    error: function () {
                        // show success message
                        $info
                            .addClass("text-color--red")
                            .append($('<span />').text("An error occurred"))
                            .append($('<i />').addClass("glyphicon glyphicon-warning-sign text-color--red"));
                    },
                    complete: function () {
                        // show info message
                        $info
                            .insertAfter($btn);

                        // enable button again
                        $btn
                            .removeAttr("disabled");
                    }
                });
            });
            //No watering required
            $('#no-watering-required').on("click", function () {
                const $btn = $(this);

                // remove previous message
                $('#no-watering-required-info').remove();

                // set loading
                $btn
                    .attr("disabled", "disabled")
                    .append($('<i />').addClass("fa fa-spinner fa-spin"));

                // create info message
                const $info = $('<div />')
                    .attr('id', 'no-watering-required-info');

                $.ajax({
                    url: "/watering/api/boxes/{{ box.data.boxId }}/no-watering-feedback/",
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function () {
                        // show success message
                        $info
                            .addClass("text-color--green")
                            .append($('<span />').text("No watering required feedback sent"))
                            .append($('<i />').addClass("glyphicon glyphicon-check"));
                    },
                    error: function () {
                        // show success message
                        $info
                            .addClass("text-color--red")
                            .append($('<span />').text("An error occurred"))
                            .append($('<i />').addClass("glyphicon glyphicon-warning-sign text-color--red"));
                    },
                    complete: function () {
                        // show info message
                        $info
                            .insertAfter($btn);

                        // enable button again
                        $btn
                            .removeAttr("disabled");
                    }
                });
            });
        });
    </script>

    <script src="{% static 'js/cluster-gauge.js' %}?v=20210608.1"></script>
    <script src="{% static 'js/cluster-details.js' %}?v=20220129.1"></script>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
{% endblock %}