{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block css %}
    <link href="{% static 'css/create.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <form action="." method="POST">
        {% csrf_token %}

        <h2>{% trans "New Box setup - Info" %}</h2>

        {% include "util/form-fields.html" %}

        <button class="btn btn-primary" type="submit">
            {% trans "Create Box" %}
        </button>
    </form>
{% endblock %}

{% block js %}
    <script>
        $('.form-group input, .form-group select, .form-group textarea').
            addClass('form-control');

        const $locationInput = $('#id_location');

        $('<span />')
            .addClass('example-location')
            .text("Example location: [[6.140411101107388,46.18418608298799],[6.140545143921089,46.18399689316645],[6.140663530473896,46.184056735085676]]")
            .insertAfter($locationInput);

        $locationInput.bind('input', function(){
            $(this).val(function(_, v){
                return v.replace(/\s+/g, '');
            });
        });
    </script>
    {% include 'watering/sensor-js.html' %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeXisjnsAMK0rYoxNNOPPdtc9JFF7OL_w&libraries=places,drawing"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% endblock %}