{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block css %}
    <link href="{% static 'css/create.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <form action="." method="POST">
        {% csrf_token %}

        <h2>{% trans "New Box setup - Info" %}</h2>

        {% include "util/form-fields.html" %}

        <div id="mapid"></div>

        <button class="btn btn-primary" type="submit">
            {% trans "Next" %}
        </button>
    </form>
{% endblock %}

{% block js %}
    <script>
        $('#id_address, #id_latitude, #id_longitude')
            {#.attr('disabled', 'disabled');#}
            .closest('.form-group')
            .css('display', 'none');

        $('.form-group input, .form-group select, .form-group textarea').
            addClass('form-control');

        var sensors = {{ sensors|safe }};
        var myOptions = {};
        for(var i=0;i<sensors.length;i++){
            myOptions[sensors[i].serialNumber] = sensors[i].serialNumber+' ('+sensors[i].name+')';
        }
        myOptions[""] = "No sensor";

        $.each(myOptions, function(val, text) {
            $('#id_sensor').append( new Option(text,val) );
        });
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeXisjnsAMK0rYoxNNOPPdtc9JFF7OL_w&libraries=places"></script>
    <script src="{% static 'js/map.js' %}"></script>
{% endblock %}