{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block css %}
    <link href="{% static 'css/create.css' %}" rel="stylesheet">
    <style>
        #start-watering-info {
            margin: 10px 0;
        }

        #start-watering-info i {
            margin-left: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-xs-12 col-sm-9">
            <h3 style="margin-top:0%; margin-left: 14px;">{% trans "Box #" %}{{ box.id }} </h3>
        </div>
        <div class="col-xs-12 col-sm-3" style="text-align: right">
            <button id="delete-box"
                    class="btn btn-danger {% if not box.can_be_deleted %}disabled{% endif %}"
                    {% if not box.can_be_deleted %}disabled{% endif %}
                    style="margin-right: 12px;">
                <i class="glyphicon glyphicon-trash"></i> Delete box
            </button>
        </div>
    </div>
    <div class="row" style="margin: 10px 0;">
        <!--<div class="col-md-6">
            <input type="text" class="form-control" placeholder="{% trans "Date Filter" %}">
          </div> -->

        <div class="col-md-3">
            <button id="start-watering" type="button" class="btn btn-primary btn-block">{% trans "Start Watering" %}</button>
        </div>
        <div class="col-md-9">
            <button type="button" class="btn btn-sm btn-secondary" style="margin-left: 10px;float: right" onclick="exportReport( {{ box.data | safe }} );">
                <i class="glyphicon glyphicon-print"></i>
            </button>
        </div>
    </div>
    <div id="chart-history" style="width:100%;height: 400px;"></div>
    <div id="chart-prediction" style="width:100%;height: 400px;"></div>

    <form action="/watering/details/?id={{ box.id }}" method="post">
        {% csrf_token %}

        {% include 'watering/form.html' %}

    </form>

    <!--<pre>
        {{ history }}
    </pre>-->
    <div class="row" style="margin: 10px;">
         <div class="col-md-12">
             <h4>Watering logs</h4>
            <div class="panel panel-primary">
              <table class="table">
                <thead>
                  <tr>
                    <th>{% trans "Date" %}</th>
                    <th>{% trans "Amount of watering" %}</th>
                    <th>{% trans "Comments" %}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td> <a href="#">20/03/2020 15:30</a></td>
                    <td>0.3 lt</td>
                    <td>Comments</td>
                  </tr>
                  <tr>
                      <td><a href="#">21/03/2020 15:30</a></td>
                    <td>0.4 lt</td>
                    <td>Comments</td>
                  </tr>
                  <tr>
                      <td><a href="#">22/03/2020 15:30</a></td>
                    <td>0.2 lt</td>
                      <td>Comments</td>
                  </tr>
                </tbody>
              </table>
            </div>
    </div>


    </div>
{% endblock %}

{% block js %}
    <!-- AmCharts JavaScript -->
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/animate/animate.min.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/chalk.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script type="text/javascript">
        const history = {{history |safe}};
    </script>
    {% include 'watering/sensor-js.html' %}
    <script src="{% static 'js/box-details-graphs.js' %}"></script>
    <script src="{% static 'js/report.js' %}"></script>
    <script>
        $(function() {
            /* Start Watering */
            $('#start-watering').on("click", function() {
                const $btn = $(this);

                // remove previous message
                $('#start-watering-info').remove();

                // set loading
                $btn
                    .attr("disabled", "disabled")
                    .append($('<i />').addClass("fa fa-spinner fa-spin"));

                // create info message
                const $info = $('<div />')
                    .attr('id', 'start-watering-info');

                $.ajax({
                    url: "/watering/api/boxes/{{ box.id }}/start-watering/",
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function() {
                        // show success message
                        $info
                            .addClass("text-color--green")
                            .append($('<span />').text("Watering event simulated"))
                            .append($('<i />').addClass("glyphicon glyphicon-check"));
                    },
                    error: function() {
                        // show success message
                        $info
                            .addClass("text-color--red")
                            .append($('<span />').text("An error occurred"))
                            .append($('<i />').addClass("glyphicon glyphicon-warning-sign text-color--red"));
                    },
                    complete: function() {
                        // show info message
                        $info
                            .insertAfter($btn);

                        // enable button again
                        $btn
                            .removeAttr("disabled");
                    }
                });
            });

            /* Delete Box */
            $('#delete-box').on("click", function() {
                // confirm
                if (!window.confirm('Are you sure you want to delete box {{ box.id }}?')) {
                    return
                }

                // post to delete endpoint
                $.ajax({
                    url: "/watering/api/boxes/{{ box.id }}/delete/",
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function() {
                        window.location.href = "/watering/list/";
                    }
                });
            })
        });
    </script>


{% endblock %}