{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load app_filters %}

{% block css %}
    <link href="{% static 'css/create.css' %}" rel="stylesheet">
    <link href="{% static 'css/details.css' %}?v=20220206.1" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.semanticui.min.css">
    <style>
        #start-watering-info {
            margin: 10px 0;
        }

        #start-watering-info i {
            margin-left: 10px;
        }
    </style>
{% endblock %}

{% block navigation %}
    {% include 'watering/details-menu.html' %}
{% endblock %}

{% block content %}
    <div class="row white-content" style="padding: 20px 0;">
        <div class="col-xs-12 col-sm-6">
            <h3>{% trans "Cluster " %}{{ box.data.name }} </h3>
        </div>
        <div class="col-xs-12 col-sm-6" style="text-align: right">
            <a href="{{request.META.HTTP_REFERER}}" id="back-box"
                    class="btn btn-secondary" style="margin-bottom: 5px; vertical-align: top;">
                <i class="glyphicon glyphicon-chevron-left"></i> {% trans Back %}
            </a>
            {% if request.user.is_superuser %}
                <button id="delete-box"
                        class="btn btn-danger {% if not box.can_be_deleted %}disabled{% endif %}"
                        {% if not box.can_be_deleted %}disabled{% endif %}>
                    <i class="glyphicon glyphicon-trash"></i> {% trans "Delete cluster" %}
                </button>
            {% endif %}
        </div>

        <!--<div class="col-md-6">
            <input type="text" class="form-control" placeholder="{% trans "Date Filter" %}">
          </div> -->

        <div class="col-md-3">
            {% if request.user.is_superuser %}
                <button id="start-watering" type="button" class="btn btn-primary btn-block">{% trans "Start Watering" %}</button>
            {% endif %}
        </div>
        <div class="col-md-9">
            <button type="button" class="btn btn-sm btn-secondary" style="margin-left: 10px;float: right" onclick="exportReport( {{ box.data | exclude_none | safe }} , window.WATERING_LOGS);">
                <i class="glyphicon glyphicon-print"></i>
            </button>
            <a href="/watering/cluster/?id={{ box.id }}" id="back-box" class="btn btn-sm btn-default" style="min-width: 130px; margin-left: 10px;float: right">
                {% trans "Watering Details" %}
            </a>
        </div>
    </div>

    <div class="row white-content">
        <div class="col-xs-12">
            <div id="chart-history" style="width:100%;height: 400px;"></div>
        </div>
    </div>

    <div class="row white-content">
        <div class="col-xs-12">
            <div id="chart-prediction" style="width:100%;height: 400px;"></div>
        </div>
    </div>

    <div class="row white-content">
        <div class="col-xs-6">
            <div id="chart-ec" style="width:100%;height: 400px;"></div>
        </div>
        <div class="col-xs-6">
            <div id="chart-soil-temp" style="width:100%;height: 400px;"></div>
        </div>
    </div>

    <div class="row white-content">
        <div class="col-xs-12">
            <div id="chart-battery" style="width:100%;height: 400px;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <form action="/watering/details/?id={{ box.id }}" method="post" id="edit-form">
                {% csrf_token %}

                {% include 'watering/form.html' %}

            </form>
        </div>
    </div>

    <div class="row" style="margin: 10px 0;" id="watering-logs">
         <div class="col-xs-12">
             <h3>{% trans "Watering logs" %}</h3>
             <table class="table ui celled" id="watering-logs-table">
                <thead>
                  <tr>
                    <th style="min-width: 400px;">{% trans "Date" %}</th>
                    <th>{% trans "Amount of watering" %}</th>
                    <th>{% trans "Time of watering" %}</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
        </div>
    </div>
{% endblock %}

{% block js %}
    <!-- AmCharts JavaScript -->
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/animate/animate.min.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/chalk.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <!-- Datatables  -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.semanticui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <script type="text/javascript">
        window.BOX_ID = "{{ id }}";
    </script>
    {% include 'watering/sensor-js.html' %}
    <script src="{% static 'js/box-details-graphs.js' %}?v=20220209.1"></script>
    <script src="{% static 'js/report.js' %}"></script>
    <script>
        $(function() {
            /* Start Watering */
            $('#start-watering').on("click", function() {
                const $btn = $(this);

                // remove previous message
                $('#start-watering-info').remove();

                // set loading
                $btn
                    .attr("disabled", "disabled")
                    .append($('<i />').addClass("fa fa-spinner fa-spin"));

                // create info message
                const $info = $('<div />')
                    .attr('id', 'start-watering-info');

                $.ajax({
                    url: "/watering/api/boxes/{{ box.id }}/start-watering/",
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function() {
                        // show success message
                        $info
                            .addClass("text-color--green")
                            .append($('<span />').text("Watering event simulated"))
                            .append($('<i />').addClass("glyphicon glyphicon-check"));
                    },
                    error: function() {
                        // show success message
                        $info
                            .addClass("text-color--red")
                            .append($('<span />').text("An error occurred"))
                            .append($('<i />').addClass("glyphicon glyphicon-warning-sign text-color--red"));
                    },
                    complete: function() {
                        // show info message
                        $info
                            .insertAfter($btn);

                        // enable button again
                        $btn
                            .removeAttr("disabled");
                    }
                });
            });

            /* Delete Box */
            $('#delete-box').on("click", function() {
                // confirm
                if (!window.confirm('Are you sure you want to delete box {{ box.id }}?')) {
                    return
                }

                // post to delete endpoint
                $.ajax({
                    url: "/watering/api/boxes/{{ box.id }}/delete/",
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function() {
                        window.location.href = "/watering/list/";
                    }
                });
            });
        });
    </script>


{% endblock %}