<div class="box-form" style="margin: 20px 0 40px 0;">
    <div class="row">
        <div class="col-xs-12">
            <h3>Box details</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-xs-12 ">
            <div class="form-group">
                <label for="id_box_id">Box ID:</label>
                <input type="text" name="box_id" required="" id="id_box_id" class="form-control disabled" value="{{ box.id }}" disabled>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12 ">
            <div class="form-group">
                <label for="id_soil_type">Type of soil:</label>
                <select name="soil_type" id="id_soil_type" class="form-control">
                  <option value="" {% if not form.data.soil_type %}selected{% endif %}></option>
                  <option value="Terreau" {% if form.data.soil_type == "Terreau" %}selected{% endif %}>Terreau</option>
                  <!--<option value="SOIL_TYPE_2" {% if form.data.soil_type == "SOIL_TYPE_2" %}selected{% endif %}>Soil Type 2</option>-->
                </select>
                {% if form.errors.soil_type %}
                    <span class="o-red">{{ form.errors.soil_type }}</span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-xs-12 ">
            <div class="form-group">
                <label for="id_flowers_type">Type of flowers:</label>
                <select name="flowers_type" id="id_flowers_type" class="form-control">
                  <option value="" {% if not form.data.flowers_type %}selected{% endif %}></option>
                  <option value="Νeed more water" {% if form.data.flowers_type == "Νeed more water" %}selected{% endif %}>Νeed more water</option>
                  <option value="Νeed less water" {% if form.data.flowers_type == "Νeed less water" %}selected{% endif %}>Νeed less water</option>
                </select>
                {% if form.errors.flowers_type %}
                    <span class="o-red">{{ form.errors.flowers_type }}</span>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-6 col-xs-12 ">
            <div class="form-group">
                <label for="id_sun_exposure">Exposure to sun:</label>

                <select name="sun_exposure" id="id_sun_exposure" class="form-control">
                  <option value="" {% if not form.data.sun_exposure %}selected{% endif %}></option>
                  <option value="Sunny" {% if form.data.sun_exposure == "Sunny" %}selected{% endif %}>Sunny</option>
                  <option value="Mid shadow" {% if form.data.sun_exposure == "Mid shadow" %}selected{% endif %}>Mid shadow</option>
                  <option value="None" {% if form.data.sun_exposure == "None" %}selected{% endif %}>None</option>
                </select>
                {% if form.errors.sun_exposure %}
                    <span class="o-red">{{ form.errors.sun_exposure }}</span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-xs-12 ">
            <div class="form-group">
                <label for="id_installed_at">Installation date:</label>
                <input type="text" name="installed_at" required="" id="id_installed_at" class="form-control" value="{{ form.data.installed_at }}">
                {% if form.errors.installed_at %}
                    <span class="o-red">{{ form.errors.installed_at }}</span>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-6 col-xs-12 ">
            <div class="form-group">
                <label for="id_size">Box size:</label>
                <select name="size" id="id_size" class="form-control">
                  <option value="" {% if not form.data.size %}selected{% endif %}></option>
                  <option value="Small" {% if form.data.size == "Small" %}selected{% endif %}>Small</option>
                  <option value="Large" {% if form.data.size == "Large" %}selected{% endif %}>Large</option>
                </select>
                {% if form.errors.size %}
                    <span class="o-red">{{ form.errors.size }}</span>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success" type="submit">
                <i class="fa fa-save"></i>
                Update box
            </button>
        </div>
    </div>
</div>