{% load i18n %}
{% load app_filters %}

<div class="box-form" style="margin: 20px 0 40px 0;">
    <div class="row">
        <div class="col-xs-12">
            <h3>{% trans " Cluster details" %}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-xs-12 ">
            <div class="form-group">
                <label for="id_box_id">{% trans "Cluster ID" %}:</label>
                <input type="text" name="box_id" required="" id="id_box_id" class="form-control disabled" value="{{ box.id }}" disabled>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12 ">
            <div class="form-group">
                <label for="id_box_name">{% trans "Cluster Name" %}:</label>
                <input type="text" name="name" required="" id="id_box_name" class="form-control{% if request.user|is_gardener %} disabled{% endif %}" value="{{ box.data.name }}" {% if request.user|is_gardener %}disabled{% endif %}>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-xs-12 ">
            <div class="form-group">
                <label for="id_soil_type">{% trans "Type of soil" %}:</label>
                <select name="soil_type" id="id_soil_type" class="form-control{% if request.user|is_gardener %} disabled{% endif %}" {% if request.user|is_gardener %}disabled{% endif %}>
                  <option value="" {% if not form.data.soil_type %}selected{% endif %}></option>
                  <option value="soilNormal" {% if form.data.soil_type == "soilNormal" %}selected{% endif %}>{% trans "Normal soil" %}</option>
                  <option value="soilCompost" {% if form.data.soil_type == "soilCompost" %}selected{% endif %}>{% trans "Compost soil" %}</option>
                </select>
                {% if form.errors.soil_type %}
                    <span class="o-red">{{ form.errors.soil_type }}</span>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-6 col-xs-12 ">
            <div class="form-group">
                <label for="id_flowers_type">{% trans "Type of flowers" %}:</label>
                <select name="flowers_type" id="id_flowers_type" class="form-control {% if request.user|is_gardener %} disabled{% endif %}" {% if request.user|is_gardener %}disabled{% endif %}>
                  <option value="" {% if not form.data.flowers_type %}selected{% endif %}></option>
                  <option value="Annual" {% if form.data.flowers_type == "Annual" %}selected{% endif %}>{% trans "Annual" %}</option>
                  <option value="Perennial" {% if form.data.flowers_type == "Perennial" %}selected{% endif %}>{% trans "Perennial" %}</option>
                </select>
                {% if form.errors.flowers_type %}
                    <span class="o-red">{{ form.errors.flowers_type }}</span>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="row">

         <div class="col-lg-6 col-xs-12 ">
            <div class="form-group">
                <label for="id_sun_exposure">{% trans "Exposure to sun" %}:</label>

                <select name="sun_exposure" id="id_sun_exposure" class="form-control{% if request.user|is_gardener %} disabled{% endif %}" {% if request.user|is_gardener %}disabled{% endif %}>
                  <option value="" {% if not form.data.sun_exposure %}selected{% endif %}></option>
                  <option value="Sunny" {% if form.data.sun_exposure == "Sunny" %}selected{% endif %}>{% trans "Sunny" %}</option>
                  <option value="Mid shadow" {% if form.data.sun_exposure == "Mid shadow" %}selected{% endif %}>{% trans "Mid shadow" %}</option>
                  <option value="None" {% if form.data.sun_exposure == "None" %}selected{% endif %}>{% trans "None" %}</option>
                </select>
                {% if form.errors.sun_exposure %}
                    <span class="o-red">{{ form.errors.sun_exposure }}</span>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-6 col-xs-12 ">
            <div class="form-group">
                <label for="id_number_of_boxes">{% trans "Number of boxes" %}:</label>
                <input type="number" step="1" name="number_of_boxes" required="" id="id_number_of_boxes" class="form-control{% if request.user|is_gardener %} disabled{% endif %}" value="{{ form.data.number_of_boxes }}" {% if request.user|is_gardener %}disabled{% endif %}>
                {% if form.errors.number_of_boxes %}
                    <span class="o-red">{{ form.errors.number_of_boxes }}</span>
                {% endif %}
            </div>
        </div>

        <!--<div class="col-lg-6 col-xs-12 ">
            <div class="form-group">
                <label for="id_size">Box size:</label>
                <select name="size" id="id_size" class="form-control">
                  <option value="" {% if not form.data.size %}selected{% endif %}></option>
                  <option value="Small" {% if form.data.size == "Small" %}selected{% endif %}>Small</option>
                  <option value="Large" {% if form.data.size == "Large" %}selected{% endif %}>Large</option>
                </select>
                {% if form.errors.size %}
                    <span class="o-red">{{ form.errors.size }}</span>
                {% endif %}
            </div>
        </div>-->
    </div>

    <div class="row">

        <div class="col-lg-6 col-xs-12 ">
            <div class="form-group">
                <label for="id_refDevice">{% trans "Sensor ID" %}:</label>
                <select name="refDevice" id="id_refDevice" class="form-control{% if request.user|is_gardener %} disabled{% endif %}" {% if request.user|is_gardener %}disabled{% endif %}>
                  <option value="{{ form.data.refDevice }}" {% if form.data.refDevice %}selected{% endif %}>{{ form.data.refDevice }}</option>
                  <option value="None" {% if form.data.refDevice == "None"%}selected{% endif %}>{% trans "None" %}</option>
                </select>
                {% if form.errors.refDevice %}
                    <span class="o-red">{{ form.errors.refDevice }}</span>
                {% endif %}
            </div>
        </div>

         <div class="col-lg-6 col-xs-12 ">
            <div class="form-group">
                <label for="id_device_status">{% trans "Device Status" %}:</label>

                <select name="device_status" id="id_device_status" class="form-control">
                  <option value="" {% if not form.data.device_status %}selected{% endif %}></option>
                  <option value="active" {% if form.data.device_status == "active" %}selected{% endif %}>{% trans "Active" %}</option>
                  <option value="maintenance" {% if form.data.device_status == "maintenance" %}selected{% endif %}>{% trans "Maintenance" %}</option>
                  <option value="disabled" {% if form.data.device_status == "disabled" %}selected{% endif %}>{% trans "Disabled" %}</option>
                </select>
                {% if form.errors.device_status %}
                    <span class="o-red">{{ form.errors.device_status }}</span>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success" type="submit">
                <i class="fa fa-save"></i>
                {% trans "Update Cluster" %}
            </button>
        </div>
    </div>
</div>