{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load app_filters %}

{% block css %}
    <link href="{% static 'css/create.css' %}" rel="stylesheet">
    <link href="{% static 'css/details.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.semanticui.min.css">
    <style>
        #start-watering-info {
            margin: 10px 0;
        }

        #start-watering-info i {
            margin-left: 10px;
        }

         .panel-heading {
            font-size: 20px;
            font-weight: 700;
            text-align: center;
        }

        .recommended-value {
            font-size: 52px;
            font-weight: 700;
            color: #777;
            width: 100%;
            margin: 30px auto;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
<div class="row" style="margin-bottom: 20px;">
        <div class="col-xs-12 col-sm-3">
            <h2 style="margin-top:0%; margin-left: 10px;">{% trans "Periodic Report" %}</h2>
        </div>
        <div  class="col-sm-3" id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
            <i class="glyphicon glyphicon-calendar"></i>&nbsp;
            <span></span> <i class="glyphicon glyphicon-chevron-down"></i>
        </div>
        <div class="col-xs-12 col-sm-6" style="text-align: right">
            <a href="/watering" id="back-box"
                    class="btn btn-secondary" style="margin-right: 12px;">
                <i class="glyphicon glyphicon-chevron-left"></i> {% trans "Back" %}
            </a>
        </div>
    </div>
    <div class="row" style="margin: 10px 0;">

        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <button type="button" class="btn btn-sm btn-secondary" style="margin-left: 10px;float: right" onclick="exportMonthlyReport( {{ boxes | exclude_none | safe }} );">
                <i class="glyphicon glyphicon-print"></i>
            </button>
        </div>
    </div>

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-xs-12 col-sm-6">
            <h3 style="margin-top:0%; margin-left: 14px;">{% trans "Overall " %} </h3>
        </div>

        </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Total Periodic Water Consumption" %}</div>
                <div class="panel-body">
                    <div class="recommended-value">
                        493 lt
                    </div>
                </div>
            </div>
        </div>
         <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Total Periodic Watering Time" %}</div>
                <div class="panel-body">
                    <div class="recommended-value">
                        11 hrs
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="chart-prediction-overall" style="width:100%;height: 400px;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="chart-km" style="width:100%;height: 400px;"></div>
        </div>
    </div>

    <hr class="solid">

    {% for box in boxes %}
    <div class="row" style="margin-bottom: 20px;margin-top: 60px;">
        <div class="col-xs-12">
            <h3 style="margin-top:0%; margin-left: 14px;">{% trans "Periodic Report of the Cluster " %}{{ box.name }} {% trans "(1st - 30th March)" %} </h3>
        </div>

        </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Total Periodic Water Consumption (Cluster)" %}</div>
                <div class="panel-body">
                    <div class="recommended-value">
                        493 lt
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Total Periodic Water Consumption (Avg. per Box)" %}</div>
                <div class="panel-body">
                    <div class="recommended-value">
                        11 lt
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--<div class="row">
        <div class="col-xs-12">
            <div id="chart-history" style="width:100%;height: 400px;"></div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-xs-12">
            <div id="chart-prediction-{{ box.boxId }}" style="width:100%;height: 400px;"></div>
        </div>
    </div>

     <div class="row">
        <div class="col-xs-12">
            <div id="chart-consumption-box-{{ box.boxId }}" style="width:100%;height: 400px;"></div>
        </div>
    </div>

     <div class="row" style="margin: 10px 0;" id="reports">
         <div class="col-xs-12">
             <h3>{% trans "Reported Issues" %}</h3>
             <table class="table ui celled" id="watering-logs-table">
                <thead>
                  <tr>
                    <th>{% trans "Issue" %}</th>
                    <th>{% trans "Description" %}</th>
                    <th>{% trans "Date" %}</th>
                  </tr>
                </thead>
                <tbody>
                {% for con in consumption_history %}
                  <tr>
                      <td> <a href="#">{{ con.date }}</a></td>
                      {% if con.value is None %}
                        <td> - </td>
                      {% else %}
                          <td>{{ con.value }} lt</td>
                      {% endif %}
                      <td> - </td>
                  </tr>
                {%  endfor %}
                </tbody>
              </table>
        </div>
    </div>

    <hr class="dotted">



    {% endfor %}

{% endblock %}

{% block js %}
    <!-- AmCharts JavaScript -->
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/animate/animate.min.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/chalk.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <!-- Datatables  -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.semanticui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <script type="text/javascript">
        const history = {{history |safe}};
    </script>
    {% include 'watering/sensor-js.html' %}
    <script src="{% static 'js/monthly-report-graphs.js' %}"></script>
    <script src="{% static 'js/monthly-report.js' %}"></script>

    //Date range picker
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script type="text/javascript">
        $(function() {

            var start = moment().subtract(29, 'days');
            var end = moment();

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                   'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 14 Days': [moment().subtract(13, 'days'), moment()],
                   'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                   'This Month': [moment().startOf('month'), moment().endOf('month')],
                   'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

        });
    </script>


{% endblock %}