{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load app_filters %}

{% block css %}
    <link href="{% static 'css/create.css' %}" rel="stylesheet">
    <link href="{% static 'css/details.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.semanticui.min.css">
    <style>
        #start-watering-info {
            margin: 10px 0;
        }

        #start-watering-info i {
            margin-left: 10px;
        }

         .panel-heading {
            font-size: 20px;
            font-weight: 700;
            text-align: center;
        }

        .recommended-value {
            font-size: 52px;
            font-weight: 700;
            color: #777;
            width: 100%;
            margin: 30px auto;
            text-align: center;
        }

        .glyphicon.fast-right-spinner {
            animation: glyphicon-spin-r 1s infinite linear;
        }

        @keyframes glyphicon-spin-r {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
            }
        }
    </style>
{% endblock %}

{% block content %}
<div class="row" style="margin-bottom: 20px;">
        <div class="col-xs-12 col-sm-3">
            <h2 style="margin-top:0%; margin-left: 10px;">{% trans "Periodic Report" %}</h2>
        </div>
        <div  class="col-sm-3" id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
            <i class="glyphicon glyphicon-calendar"></i>&nbsp;
            <span></span> <i class="glyphicon glyphicon-chevron-down"></i>
        </div>
        <div class="col-xs-12 col-sm-6" style="text-align: right">
            <a href="/watering" id="back-box"
                    class="btn btn-secondary" style="margin-right: 12px;">
                <i class="glyphicon glyphicon-chevron-left"></i> {% trans "Back" %}
            </a>
        </div>
    </div>
    <div class="row" style="margin: 10px 0;">

        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <button type="button" class="btn btn-sm btn-secondary" style="margin-left: 10px;float: right" onclick="exportMonthlyReport( {{ boxes | exclude_none | safe }});">
                <i class="glyphicon glyphicon-print"></i>
            </button>
        </div>
    </div>

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-xs-12 col-sm-6">
            <h3 style="margin-top:0%; margin-left: 14px;">{% trans "Overall " %} </h3>
        </div>

        </div>

    <div class="row" id="overall-values">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Total Periodic Water Consumption" %}</div>
                <div class="panel-body">
                    <div class="recommended-value">
                        <span class="glyphicon glyphicon-repeat fast-right-spinner"></span>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Total Periodic Watering Time" %}</div>
                <div class="panel-body">
                    <div class="recommended-value">
                        <span class="glyphicon glyphicon-repeat fast-right-spinner"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="chart-data-overall" style="width:100%;height: 400px;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="chart-km" style="width:100%;height: 400px;"></div>
        </div>
    </div>

    <hr class="solid">

    {% for box in boxes %}
        <div id="box-container-{{ box.boxId }}" data-nboxes="{{ box.number_of_boxes }}">
            <div class="row" style="margin-bottom: 20px;margin-top: 60px;">
                <div class="col-xs-12">
                    <h3 style="margin-top:0%; margin-left: 14px;">
                        {% trans "Periodic Report of the Cluster " %}
                        {{ box.name }}
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">{% trans "Total Periodic Water Consumption (Cluster)" %}</div>
                        <div class="panel-body">
                            <div class="recommended-value">&nbsp;</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">{% trans "Total Periodic Water Consumption (Avg. per Box)" %}</div>
                        <div class="panel-body">
                            <div class="recommended-value">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--<div class="row">
                <div class="col-xs-12">
                    <div id="chart-history" style="width:100%;height: 400px;"></div>
                </div>
            </div> -->

            <div class="row">
                <div class="col-xs-12">
                    <div id="chart-data-{{ box.boxId }}" style="width:100%;height: 400px;"></div>
                </div>
            </div>

             <div class="row">
                <div class="col-xs-12">
                    <div id="chart-data-per-box-{{ box.boxId }}" style="width:100%;height: 400px;"></div>
                </div>
            </div>

             <div class="row reports" style="margin: 10px 0;">
                 <div class="col-xs-12">
                     <h3>{% trans "Reported Issues" %}</h3>
                     <table class="table ui celled" id="watering-issues-table-{{ box.boxId }}">
                        <thead>
                          <tr>
                            <th>{% trans "Issue" %}</th>
                            <th>{% trans "Description" %}</th>
                            <th>{% trans "User" %}</th>
                            <th>{% trans "Date" %}</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for issue in issues_by_box|get_issues_by_box:box %}
                                <tr>
                                    <td>{{ issue.issue_type }}</td>
                                    <td>{{ issue.description }}</td>
                                    <td>{{ issue.submitted_by }}</td>
                                    <td>{{ issue.created }}</td>
                                </tr>
                            {% empty %}
                                <tr class="empty">
                                    <td colspan="3" style="text-align: center;">No issues reported</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>

            <hr class="dotted">
        </div>
    {% endfor %}

{% endblock %}

{% block js %}
    <!-- AmCharts JavaScript -->
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/animate/animate.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <!-- Datatables  -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.semanticui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

    {% include 'watering/sensor-js.html' %}

    <script src="{% static 'js/monthly-report-graphs.js' %}?v=20210925.1"></script>
    <script src="{% static 'js/monthly-report.js' %}?v=20210608.1"></script>

    //Date range picker
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script>
        window.PERIOD_START = "{{ start }}";
        window.PERIOD_END = "{{ end }}";
    </script>
    <script type="text/javascript" src="{% static 'js/monthly-report-period-select.js' %}"></script>
{% endblock %}