{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load app_filters %}

{% block css %}
    <link href="{% static 'css/create.css' %}" rel="stylesheet">
    <link href="{% static 'css/details.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.semanticui.min.css">
    <style>
        #start-watering-info {
            margin: 10px 0;
        }

        #start-watering-info i {
            margin-left: 10px;
        }

         .panel-heading {
            font-size: 20px;
            font-weight: 700;
            text-align: center;
        }

        .recommended-value {
            font-size: 52px;
            font-weight: 700;
            color: #777;
            width: 100%;
            margin: 30px auto;
            text-align: center;
        }
    </style>
{% endblock %}

{% block navigation %}
    {% include 'watering/details-menu.html' %}
{% endblock %}

{% block content %}
<div class="row" style="margin-bottom: 20px;">
        <div class="col-xs-12 col-sm-9">
            <h2 style="margin-top:0%; margin-left: 10px;">Monthly Report </h2>
        </div>
        <div class="col-xs-12 col-sm-3" style="text-align: right">
            <a href="/watering" id="back-box"
                    class="btn btn-secondary" style="margin-right: 12px;">
                <i class="glyphicon glyphicon-chevron-left"></i> {% trans "Back" %}
            </a>
        </div>
    </div>
    <div class="row" style="margin: 10px 0;">

        <div class="col-md-3">
        </div>
        <div class="col-md-9">
            <button type="button" class="btn btn-sm btn-secondary" style="margin-left: 10px;float: right" onclick="exportReport( {{ box.data | exclude_none | safe }} );">
                <i class="glyphicon glyphicon-print"></i>
            </button>
        </div>
    </div>

    {% for box in boxes %}
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-xs-12 col-sm-6">
            <h3 style="margin-top:0%; margin-left: 14px;">{% trans "Cluster " %}{{ box.data.name }} </h3>
        </div>

        </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Total Monthly Water Consumption (Cluster)" %}</div>
                <div class="panel-body">
                    <div class="recommended-value">
                        493 lt
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">{% trans "Total Monthly Water Consumption (Avg. per Box)" %}</div>
                <div class="panel-body">
                    <div class="recommended-value">
                        11 lt
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--<div class="row">
        <div class="col-xs-12">
            <div id="chart-history" style="width:100%;height: 400px;"></div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-xs-12">
            <div id="chart-prediction-{{ box.data.boxId }}" style="width:100%;height: 400px;"></div>
        </div>
    </div>

     <div class="row">
        <div class="col-xs-4">
            <div id="chart-consumption-cluster-{{ box.data.boxId }}" style="width:100%;height: 400px;"></div>
        </div>
        <div class="col-xs-4">
            <div id="chart-time-cluster-{{ box.data.boxId }}" style="width:100%;height: 400px;"></div>
        </div>
        <div class="col-xs-4">
            <div id="chart-km-cluster-{{ box.data.boxId }}" style="width:100%;height: 400px;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div id="chart-monthly-cluster-{{ box.data.boxId }}" style="width:100%;height: 400px;"></div>
        </div>
        <div class="col-xs-6">
            <div id="chart-monthly-box-{{ box.data.boxId }}" style="width:100%;height: 400px;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div id="chart-monthly-time-cluster-{{ box.data.boxId }}" style="width:100%;height: 400px;"></div>
        </div>
        <div class="col-xs-6">
            <div id="chart-monthly-time-box-{{ box.data.boxId }}" style="width:100%;height: 400px;"></div>
        </div>
    </div>

     <div class="row" style="margin: 10px 0;" id="reports">
         <div class="col-xs-12">
             <h3>{% trans "Reported Issues" %}</h3>
             <table class="table ui celled" id="watering-logs-table">
                <thead>
                  <tr>
                    <th>{% trans "Issue" %}</th>
                    <th>{% trans "Description" %}</th>
                    <th>{% trans "Date" %}</th>
                  </tr>
                </thead>
                <tbody>
                {% for con in consumption_history %}
                  <tr>
                      <td> <a href="#">{{ con.date }}</a></td>
                      {% if con.value is None %}
                        <td> - </td>
                      {% else %}
                          <td>{{ con.value }} lt</td>
                      {% endif %}
                      <td> - </td>
                  </tr>
                {%  endfor %}
                </tbody>
              </table>
        </div>
    </div>



    {% endfor %}

{% endblock %}

{% block js %}
    <!-- AmCharts JavaScript -->
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/animate/animate.min.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/chalk.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <!-- Datatables  -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.semanticui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <script type="text/javascript">
        const history = {{history |safe}};
    </script>
    {% include 'watering/sensor-js.html' %}
    <script src="{% static 'js/monthly-report-graphs.js' %}"></script>
    <script src="{% static 'js/report.js' %}"></script>


{% endblock %}