{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block css %}
    <link href="{% static 'css/create.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h2 style="margin-bottom: 20px;">{% trans "Report a problem" %}</h2>
    <div class="row" style="margin-top: 10px;margin-bottom: 10px;">
          <div class="col-md-2">
              <label for="report_type">Report type:</label>
          </div>
		  <div class="col-md-3">
            <select class="selecter_3 selecter-element">
                <option value="1" selected>Broken sensor</option>
				<option value="2">Wrong data</option>
				<option value="3">Problem with the box</option>
				<option value="4">Flowers destroyed</option>
				<option value="5">Other</option>
			</select>
			<!--<div class="selecter  cover closed" tabindex="0"><select name="selecter_basic" class="selecter_3 selecter-element" data-selecter-options="{&quot;cover&quot;:&quot;true&quot;}" tabindex="-1">
				<option value="1" selected>Broken sensor</option>
				<option value="2">Wrong data</option>
				<option value="3">Problem with the box</option>
				<option value="4">Flowers destroyed</option>
				<option value="5">Other</option>
			</select>-->
                <!--<span class="selecter-selected">Broken sensor</span><div class="selecter-options"><span class="selecter-item selected" data-value="1">One</span><span class="selecter-item" data-value="2">Two</span><span class="selecter-item" data-value="3">Three</span><span class="selecter-item" data-value="4">Four</span><span class="selecter-item" data-value="5">Five</span></div></div>
		  -->
		  </div>
		</div>
    <div class="row" style="margin-top: 10px;">
          <div class="col-md-2">
              <label for="report">Report:</label>
          </div>
           <div class="col-md-3">
              <textarea class="form-control" rows="5"></textarea>
          </div>

          </div>
    <button class="btn btn-primary" type="submit">
            {% trans "Save" %}
        </button>

{% endblock %}