{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static 'css/view.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
     <div class="row" style="margin: 10px;">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link{% if request.path == "/watering/list/" %} active{% endif %}" id="home-tab" href="/watering/list" role="tab" aria-controls="home"
              aria-selected="true">Liste</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if request.path == "/watering/map/" %} active{% endif %}" id="profile-tab" href="/watering/map" role="tab" aria-controls="profile"
              aria-selected="false">Carte</a>
          </li>
        </ul>
     </div>
    <div class="row" id="data" style="margin: 10px;">
    <div class="row" style="margin: 10px;">
         <div class="col-md-6">
{#                    <div class="btn-group">#}
{#                      <button type="button" class="btn btn-primary">Today</button>#}
{#                      <button type="button" class="btn btn-primary">Tomorrow</button>#}
{#                      <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-align-right"></i></button>#}
{#                    </div>#}
             <form class="form-inline">
                 <div class="form-group">
                     <label for="next-watering">Suggested watering day </label>
                     <select id="next-watering" class="form-control">
                        <option value="">All</option>
                        <option value="TODAY">Today</option>
                        <option value="TOMORROW">Tomorrow</option>
                        <option value="FUTURE">Later in the future</option>
                        <option value="UNKNOWN">Unknown</option>
                     </select>
                 </div>
             </form>
         </div>
         <div class="col-md-3">
         </div>
         <div class="col-md-3">
            <button type="button" class="btn btn-primary btn-block" onclick="location.href='{% url 'box-create' %}'"><span style="margin: 2px;" class="glyphicon glyphicon-plus"></span> Configure a new Box</button>
         </div>
     </div>

    <div class="row" style="margin: 10px;">
         <div class="col-md-4">
{#                <div class="checkbox">#}
{#                  <div class="icheckbox_flat" style="position: relative;"><input type="checkbox" id="flat-checkbox-1" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>#}
{#                  <label for="flat-checkbox-1" class="">Need Watering</label>#}
{#                </div>#}
         </div>
          <div class="col-md-2">
{#                <div class="checkbox">#}
{#                  <div class="icheckbox_flat checked" style="position: relative;"><input type="checkbox" id="flat-checkbox-2" checked="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>#}
{#                  <label for="flat-checkbox-2" class="">Water OK</label>#}
{#                </div>#}
          </div>
          <div class="col-md-2">
         </div>
           <div class="col-md-4">
                <button type="button" class="btn btn-primary btn-block" onclick="location.href='{% url 'route' %}'">View suggested route for visiting boxes</button>
           </div>
    </div>
    <div class="row" style="margin: 10px;">
        <div class="col-xs-12">
             <div id="container" style="min-height: 500px;"></div>
        </div>
    </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeXisjnsAMK0rYoxNNOPPdtc9JFF7OL_w&libraries=places"></script>
    <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
    <script>
        window.RENDERING_MODE = "{{ mode }}";
    </script>
    <script src="{% static 'js/render.js' %}"></script>
    <script src="{% static 'js/load-data.js' %}"></script>
{% endblock %}