{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <link href="{% static 'css/view.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
     <div class="row" style="margin: 10px;">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link{% if request.path == "/watering/list/" %} active{% endif %}" id="home-tab" href="/watering/list" role="tab" aria-controls="home"
              aria-selected="true">{% trans "List" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link{% if request.path == "/watering/map/" %} active{% endif %}" id="profile-tab" href="/watering/map" role="tab" aria-controls="profile"
              aria-selected="false">{% trans "Map" %}</a>
          </li>
        </ul>
     </div>
    <div class="row" id="data" style="margin: 10px;">
    <div class="row" style="margin: 10px;">
         <div class="col-md-6">
             <form class="form-inline">
                 <div class="form-group">
                     <label for="next-watering">{% trans "Suggested watering day" %} </label>
                     <select id="next-watering" class="form-control">
                         {% if mode != "route" %}
                             <option value="">{% trans "All" %}</option>
                         {% endif %}

                         <option value="TODAY">{% trans "Today" %}</option>
                         <option value="TOMORROW">{% trans "Tomorrow" %}</option>
                         <option value="DAY_AFTER_TOMORROW">{% trans "Day after tomorrow" %}</option>

                         {% if mode != "route" %}
                             <option value="FUTURE">{% trans "Later in the future" %}</option>
                             <option value="UNKNOWN">{% trans "Unknown" %}</option>
                         {% endif %}
                     </select>
                 </div>
             </form>
         </div>

         <div class="col-md-3">
         </div>

         {% if mode != "route" %}
             <div class="col-md-3">
                <button type="button" class="btn btn-primary btn-block" onclick="location.href='{% url 'box-create' %}'"><span style="margin: 2px;" class="glyphicon glyphicon-plus"></span>{% trans "Configure a new Box" %}</button>
             </div>
         {% endif %}
     </div>

    {% if mode != "route" %}
        <div class="row" style="margin: 10px;">
             <div class="col-md-4">
             </div>
              <div class="col-md-2">
              </div>
              <div class="col-md-2">
             </div>
               <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-block" onclick="location.href='{% url 'route' %}'">{% trans "View suggested route for visiting boxes" %}</button>
               </div>
        </div>
    {% elif TESTING and False %}
        <div class="row" style="margin: 10px">
            <button type="button" class="btn btn-primary" id="test-route-btn">
                {% trans "Start test route" %}
            </button>
            <button type="button" class="btn btn-default disabled" disabled id="next-position-btn">
                {% trans "Move to next position" %}
            </button>
        </div>
    {% endif %}

    {% if mode == "route" %}
        <div class="row" style="margin: 10px;">
        <div class="col-xs-12">
             <div id="next-box-watering" style="display: none"></div>
        </div>
    </div>

    {% endif %}

    <div class="row" style="margin: 10px;">
        <div class="col-xs-12">
             <div id="container" style="min-height: 500px;"></div>
        </div>
    </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeXisjnsAMK0rYoxNNOPPdtc9JFF7OL_w&libraries=places&v=3.2&sensor=false"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <!-- Amcharts -->
     <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/animate/animate.min.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/themes/chalk.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

    <script>
        window.RENDERING_MODE = "{{ mode }}";
    </script>
    <script src="{% static 'js/render.js' %}?v=20210106.1"></script>
    {% if mode == "route" %}
        <script src="{% static 'js/show-route.js' %}?v=20210106.1"></script>
        <script src="{% static 'js/location-manager.js' %}"></script>
        <script src="{% static 'js/geofencing.js' %}"></script>
        <script>
            $(function() {
                $('#test-route-btn').on("click", function() {
                    // start location manager
                    LocationManager.setModeAndRestart("dev");

                    // enable next position button
                    $('#next-position-btn')
                        .removeClass('disabled')
                        .removeAttr('disabled');
                });

                $('#next-position-btn').on('click', function() {
                    LocationManager.moveToNextDevLocation();
                });
            });
        </script>
    {% endif %}
    <script src="{% static 'js/load-data.js' %}?v=20201215.1"></script>
{% endblock %}