ul.errorlist {
    list-style: none;
    padding: 0;
}

.o-red {
    color: #E9573F;
}

.navbar-custom .navbar-brand {
    width: auto !important;
}

.site-footer {
    padding: 20px !important;
}

.nav-tabs>li>a.active {
    background-color: #f5f7fa;
    border: none;
}