ul.errorlist {
    list-style: none;
    padding: 0;
}

.o-red {
    color: #E9573F;
}

.navbar-custom .navbar-brand {
    width: auto !important;
}

.site-footer {
    padding: 20px !important;
}

.nav-tabs>li>a.active {
    background-color: #f5f7fa;
    border: none;
}

/* Geofencing */
#geofencing-notification-container {
    position: fixed;
    width: 100%;
    z-index: 1000;
    bottom: 0;
}

#geofencing-notification-container .notification {
    padding: 10px 20px;
    margin: 20px;
    background: #0b859c;
    color: white;
    position: relative
}

#geofencing-notification-container .notification .message {
    margin-bottom: 10px;
}

#geofencing-notification-container .notification .btn {
    padding: 0 10px;
}

#geofencing-notification-container .notification .btn.btn-danger {
    position: absolute;
    right: 20px;
}

#language-picker {
    margin-top: 10px;
}

#language-picker > form {
    display: inline-block;
}

#language-picker button {
    border: none !important;
}

.stepper .stepper-arrow {
    height: 18px;
}

.stepper .up {
    top: 25px;
}

.stepper .down {
    bottom: auto;
    top: 40px;
}