#mapid {
    height: 480px;
}

.popup-content .consumption {
    font-weight: 600;
}

.popup-content .prop-label,
.popup-content .prop-value {
    display: inline-block;
}

.popup-content .prop-label {
    color: #aaa;
    margin-right: 5px;
}

.popup-content .prop-label.consumption-label {
    margin-bottom: 10px;
}

.popup-content .action {
    margin-top: 4px;
    display: block;
}

.popup-content .action.btn--first {
    margin-top: 10px;
}

.popup-content .action.btn {
    width: 100%;
}

#home-chart-container {
    height: 500px;
}

/* Filters */
#dashboard-filters {
    padding: 20px 12px;
}

#dashboard-filters select {
    margin-left: 10px;
}

/* List */
#StatusTable > .entry {
    background: white;
    padding: 20px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

#StatusTable > .entry.selected {
    background: rgba(51, 181, 229, 0.4);
}

#StatusTable > .entry .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

#StatusTable > .entry .actions {
    text-align: right;
    margin-top: 10px;
}

#StatusTable > .entry .next-watering-label {
    display: inline-block;
    padding: 2px 5px;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 5px;
}

#StatusTable > .entry .next-watering-label.watered-today {
    margin-left: 0;
}

/*#main-container{*/
/*    padding: 50px !important;*/
/*}*/

#map-container {
    height: 500px;
    margin-bottom: 10px;
}

#StatusTable {
    background: white;
}

#container-parent {
    margin: 10px;
}

@media screen and (max-width: 990px) {
    #container-parent {
        padding-top: 50px;
    }
}

@media screen and (min-height: 440px) and (min-width: 360px) {
/*@media screen {*/
    #container {
        height: calc(100vh - 340px);
    }

    #map-container,
    #StatusTable {
        display: inline-block;
        vertical-align: top;
    }

    #map-container {
        margin-right: 10px;
    }

    #StatusTable {
        width: 40%;
        height: 100%;
        overflow-y: scroll;
    }

    #map-container {
        width: calc(60% - 20px);
        height: 100%;
        margin-bottom: 0;
    }
}

#data{
    padding: 50px 0 !important;
}

/* Next watering message */
#next-box-watering {
    padding: 10px;
    background: white;
    color: #777;
    box-shadow: 2px 2px 3px 3px #eee;
}

.boxes--empty-message {
    color: #aaa;
    padding: 10px;
}

/* User feedback-based overrides */
#map-container {
    width: calc(75% - 15px) !important;
}
#StatusTable {
    width: 25% !important;
}
#StatusTable > .entry {
    padding: 10px;
}
#StatusTable > .entry .title {
    font-size: 14px;
}
#StatusTable > .entry .infoItem {
    padding: 5px 0;
}
.measurement {
    font-size:14px;
    padding: 3px;
    color: yellow;
    background-color:#0b859c;
    border-radius: 6px;
}
.measurement.water {
    color:darkblue;
    background-color: #7cd1ef;
}
