{% load i18n %}

<script>
    window.MESSAGES = {
        today: "{% trans "Today" %}",
        tomorrow: "{% trans "Tomorrow" %}",
        day_after_tomorrow: "{% trans "Day after tomorrow" %}",
        listProblems: "{% trans "List problems" %}",
        future: "{% trans "Later than tomorrow" %}",
        unknown: "{% trans "Unknown" %}",
        humidityLevel: "{% trans "Humidity Level" %}",
        date: "{% trans "Suggested watering date" %}",
        watered: "{% trans "Watered today" %}",
        amount: "{% trans "Suggested Amount of water" %}",
        report: "{% trans "Report new problem" %}",
        issues: "{% trans "Issues" %}",
        reportIssue: "{% trans "Report new issue" %}",
        boxId: "{% trans "Box ID" %}",
        setup: "{% trans "Setup Box" %}",
        setup2: "{% trans "Setup Box" %}",
        lastWatering: "{% trans "Last watering" %}",
        nextWatering: "{% trans "Next watering" %}",
        soil_type: "{% trans "Soil type" %}",
        flowerType: "{% trans "Flower type" %}",
        sunExposure: "{% trans "Sun exposure" %}",
        humidity: "{% trans "Humidity" %}",
        moreDetails: "{% trans "More Details" %}",
        reportProblem: "{% trans "Report Problem" %}",
        box: "{% trans "Box" %}",
        directionsFailed: "{% trans "Directions request failed due to " %}",
        currentLocation: "{% trans "Your current location" %}",
        wateringQuestion: "{% trans "Are you watering box" %}",
        yes: "{% trans "Yes" %}",
        no: "{% trans "No" %}",
        humidityGraph: "{% trans "Soil Water Requirements History" %}",
        predictionGraph: "{% trans "Watering Predictions Graph" %}",
        noData: "{% trans "The chart contains no data" %}",
        consumptionReport: "{% trans "Water Consumption Report" %}",
        soilType2: "{% trans "Type of soil" %}",
        flowerType2: "{% trans "Type of flowers" %}",
        sunExposure2: "{% trans "Exposure to sun" %}",
        sensorId: "{% trans "Sensor ID" %}",
        wateringLogs: "{% trans "Watering Logs" %}",
        date2: "{% trans "Date" %}",
        waterAmount: "{% trans "Amount of water" %}",
        comments: "{% trans "Comments" %}",



    };
</script>