{% load i18n %}

<script>
    window.MESSAGES = {
        today: "{% trans "Today" %}",
        tomorrow: "{% trans "Tomorrow" %}",
        day_after_tomorrow: "{% trans "Day after tomorrow" %}",
        listProblems: "{% trans "List problems" %}",
        future: "{% trans "Later than tomorrow" %}",
        unknown: "{% trans "Unknown" %}",
        humidityLevel: "{% trans "Humidity Level" %}",
        date: "{% trans "Suggested watering date" %}",
        watered: "{% trans "Watered today" %}",
        amount: "{% trans "Suggested Amount of water" %}",
        report: "{% trans "Report new problem" %}",
        issues: "{% trans "Issues" %}",
        reportIssue: "{% trans "Report new issue" %}",
        boxId: "{% trans "Cluster ID" %}",
        setup: "{% trans "Setup Cluster" %}",
        setup2: "{% trans "Setup Cluster" %}",
        lastWatering: "{% trans "Last watering" %}",
        nextWatering: "{% trans "Next watering" %}",
        soil_type: "{% trans "Soil type" %}",
        flowerType: "{% trans "Flower type" %}",
        sunExposure: "{% trans "Sun exposure" %}",
        humidity: "{% trans "Humidity" %}",
        moreDetails: "{% trans "More Details" %}",
        reportProblem: "{% trans "Report Problem" %}",
        box: "{% trans "Cluster" %}",
        directionsFailed: "{% trans "Directions request failed due to " %}",
        currentLocation: "{% trans "Your current location" %}",
        wateringQuestion: "{% trans "Are you watering cluster" %}",
        yes: "{% trans "Yes" %}",
        no: "{% trans "No" %}",
        humidityGraph: "{% trans "Soil Water Requirements History" %}",
        predictionGraph: "{% trans "Watering Predictions Graph" %}",
        noData: "{% trans "The chart contains no data" %}",
        consumptionReport: "{% trans "Water Consumption Report" %}",
        soilType2: "{% trans "Type of soil" %}",
        flowerType2: "{% trans "Type of flowers" %}",
        sunExposure2: "{% trans "Exposure to sun" %}",
        sensorId: "{% trans "Sensor ID" %}",
        wateringLogs: "{% trans "Watering Logs" %}",
        date2: "{% trans "Date" %}",
        waterAmount: "{% trans "Amount of water" %}",
        comments: "{% trans "Comments" %}",
        nextBox: "{% trans "Next Cluster" %}",
        actual: "{% trans "Actual Watering amount" %}",
        predicted: "{% trans "Predicted Watering amount" %}",
        dry: "{% trans "Dry" %}",
        reduced: "{% trans "Reduced" %}",
        recommended: "{% trans "Recommended" %}",
        excessive: "{% trans "Excessive" %}",
        overwhelming: "{% trans "Overwhelming" %}",
        noMoreWater: "{% trans "No clusters need watering" %}",
        reportedIssues: "{% trans "Reported Issues" %}",
        issue: "{% trans "Issue" %}",
        description: "{% trans "Description" %}",
        user: "{% trans "User" %}",
        amountOfWatering: "{% trans "Amount of watering" %}",
        timeOfWatering: "{% trans "Time of watering" %}",
        nextAmount: "{% trans "Next watering amount" %}",
        previousAmount: "{% trans "Amount of previous watering" %}",
        soilTypes: {
            soilNormal: "{% trans "Normal" %}",
            soilCompost: "{% trans "Compost" %}",
            empty: "-"
        },
        flowerTypes: {
            Annual: "{% trans "Annual" %}",
            Perennial: "{% trans "Perennial" %}",
            empty: "-"
        },
        sunExposures: {
            Sunny: "{% trans "Sunny" %}",
            "Mid shadow": "{% trans "Mid shadow" %}",
            None: "{% trans "None" %}",
            empty: "-",
        },
        electroconductivity: "{% trans "Soil Electroconductivity (EC)" %}",
        soilTemp: "{% trans "Soil Temperature" %}",
        battery: "{% trans "Battery" %}",
        consumption: "{% trans "Consumption" %}",
        wateringTime: "{% trans "Watering time" %}",
        waterCons: "{% trans "Water Consumption" %}",
        predCons: "{% trans "Predicted Water Consumption" %}",
        distance: "{% trans "Distance driven" %}",
        periodicConsBox: "{% trans "Periodic Water Consumption (Avg. per Box)" %}",
        periodicConsCluster: "{% trans "Periodic Water Consumption (Cluster)" %}",

    };
</script>