{% load static %}

{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- site css -->
    <link rel="stylesheet" href="{% static 'css/site.min.css' %}?v=20220206.1">
    <link rel="stylesheet" href="{% static 'css/base.css' %}?v=20210113.1">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'js/site.min.js' %}"></script>
    <!-- Custom Fonts -->

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

    {% block css %}
    {% endblock %}
  </head>
  <body>
    <div id="geofencing-notification-container"></div>

    <div class="docs-header header--noBackground">
      <!--nav-->
      <nav class="navbar navbar-default navbar-custom" role="navigation" style="background: white;">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" height="40"></a>
          </div>
          <div class="collapse navbar-collapse">
            {% block navigation %}
            {% endblock %}
            <!--<ul class="nav navbar-nav navbar-right">
              <li><a class="nav-link" href="getting-started.html">Getting Started</a></li>
              <li><a class="nav-link" href="documentation.html">Documentation</a></li>
              <li><a class="nav-link" href="free-psd.html">Free PSD</a></li>
              <li><a class="nav-link" href="color-picker.html">Color Picker</a></li>
            </ul> -->
              <ul class="nav navbar-nav navbar-right">
                <li>
                    {% get_current_language as LANGUAGE_CODE %}

                    <div id="language-picker">
                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                            <input name="language" type="hidden" value="en" />
                            <button role="option" {% if LANGUAGE_CODE == "en" %}disabled{% endif %} class="btn btn-sm {% if LANGUAGE_CODE == "en" %}btn-primary{% else %}btn-default{% endif %}">EN</button>
                        </form>

                        <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.get_full_path }}" />
                            <input name="language" type="hidden" value="fr" />
                            <button role="option" {% if LANGUAGE_CODE == "fr" %}disabled{% endif %} class="btn btn-sm {% if LANGUAGE_CODE == "fr" %}btn-primary{% else %}btn-default{% endif %}">FR</button>
                        </form>
                    </div>
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>
                        {% if request.user.first_name %}
                            {{ request.user.first_name }}
                        {% elif request.user.username %}
                            {{ request.user.username }}
                        {% else %}
                            Guest
                        {% endif %}
                        <i class="fa fa-caret-down"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-user">

                        {% if request.user.is_authenticated %}
                            <li>
                                <a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'login' %}"><i class="fa fa-sign-out fa-fw"></i> Login</a>
                            </li>
                        {% endif %}
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
          </div>
        </div>
      </nav>

      <div id="connection-status" class="unknown">&nbsp;</div>
      <div id="main-container" style="min-height: calc(100vh - 175px); padding: 100px 0;background-color: #edf2f2;">
        <div class="container" style="min-height: 70vh; width: 100%;">
            <div class="row">
                <div class="col col-xs-12">
                    {% block content %}
                    {% endblock %}
                    {% block post_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
      </div>
      <!--footer-->
      <div class="site-footer">
        <div class="container">
          <div class="copyright clearfix">
              <p><b>IMU</b> {% trans "of ICCS" %}
                  <p>© 2020 {% trans "All rights reserved – developed in the NAIADES project" %}</p>
              <div>
                  <input type="checkbox" id="id-automatic-cluster-redirect" {% if AUTOMATIC_CLUSTER_REDIRECT %}checked="checked"{% endif %}>
                  <label for="id-automatic-cluster-redirect">{% trans "Automatically move to cluster page" %}</label>
              </div>
          </div>
        </div>
      </div>

    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48721682-1', 'bootflat.github.io');
	  ga('require', 'displayfeatures');
      ga('send', 'pageview');

    </script>
    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

    {% include 'util/js-translations.html' %}

    {% block js %}
    {% endblock %}

    <script src="{% static 'js/connection.js' %}"></script>

    <script>
        window.SETTINGS = {
            disableAutomaticClusterRedirect: {% if AUTOMATIC_CLUSTER_REDIRECT %}false{% else %}true{% endif %}
        };
    </script>
    <script src="{% static 'js/settings.js' %}"></script>
    {% block post_js %}
    {% endblock %}
  </body>
</html>
